﻿@{
    ViewBag.Title = "MapTest";
}
<div id="example">
    <div class="demo-section k-header">
        <h4>
            Search Devices</h4>
        <input id="devices" style="width: 400px" />
        <div style="margin-top: -29px; margin-left: 420px">
            <input id="datepicker" name="datepicker" value="@(DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy"))" style="width:150px;" />
        </div>
        <div style="margin-top: -29px; margin-left: 580px">
            <button id="search" name="search" class="k-button">
                Search</button>
        </div>
    </div>
    <br />
    <ul id="panelbar">

     <li>Data 
        
        <div style="height:450px">
        <div id="grid"></div>
        </div>
        </li>

        <li class="k-state-active"><span class="k-link k-state-selected">Map</span>
            <div style="width:98%">
                <div class="demo-section k-header" id="replaycontrol" style="display: none; padding:5px;">
                    <h4>
                        <span id="replaycount">1</span></h4>
                    <div style="margin-top: -50px; margin-left: 680px">
                        Replay timeout (s)
                        <select id="speed" style="width: 80px">
                            <option>1</option>
                            <option>2</option>
                            <option>5</option>
                            <option>10</option>
                        </select>
                        <br />
                        <button id="replay" name="replay" class="k-button" style="width: 120px">
                            Start Replay</button>
                        <button id="pause" name="pause" class="k-button" style="width: 120px; display: none">
                            Pause Replay</button>
                    </div>
                </div>
                <div class="demo-section k-header" style="padding: 10px; width: 98%">
                    <div id="map">
                    </div>
                </div>
            </div>
        </li>
       
    </ul>
    <br />
    <input type="hidden" id="latc" />
    <input type="hidden" id="lngc" />
    <script>

        var MapDataSource;
        var map;
        var replayon = false;
        var cnt = 0;
        var replayData;

        function updateDS() {

            var datePickerVal = $("#datepicker").val();
            var deviceVal = $("#devices").val();

            var map1 = $("#map").data("kendoMap");

            MapDataSource.transport.options.read.url = '@Url.Action("PosList")' + '?date=' + datePickerVal + '&deviceid=0' + deviceVal;

            MapDataSource.read();

        }

        function createMap() {

            map = $("#map").kendoMap({
                zoom: 5,
                center: [-29.9948, 25.0363],
                layers: [{
                    type: "tile",
                    urlTemplate: "http://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png",
                    subdomains: ["a", "b", "c"],
                    attribution: "&copy; <a href='http://osm.org/copyright'>OpenStreetMap contributors</a>"
                }, {
                    type: "marker",
                    dataSource: MapDataSource,
                    locationField: "latlng",
                    titleField: "name"
                }

                ]
            });
        }


        function createMapReplay() {

            var spos = replayData[0].latlng;

            map = $("#map").kendoMap({
                zoom: 15,
                center: [-29.9948, 25.0363],
                layers: [{
                    type: "tile",
                    urlTemplate: "http://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png",
                    subdomains: ["a", "b", "c"],
                    attribution: "&copy; <a href='http://osm.org/copyright'>OpenStreetMap contributors</a>"
                }],
                markers: [{
                    location: [30.268107, -97.744821],
                    shape: "pinTarget"
                }]

            });
        }

        function startReplay() {

            if (cnt < replayData.length && replayon) {

                //alert('pos' +cnt);

                var thispos = replayData[cnt].latlng;
                var thisname = replayData[cnt].name;
                var thisspeed = replayData[cnt].speedstr;

                $("#replaycount").html(cnt + 1 + ' - Time: ' + thisname + '<br />Lat/Lng: [' + thispos[0] + ' ' + thispos[1] + ']<br />Speed: ' + thisspeed + 'km/h');

                //alert(thispos[cnt]);

                var marker = $("#map").getKendoMap().markers.items[0];

                marker.location([parseFloat(thispos[0]), parseFloat(thispos[1])]);

                $("#map").data("kendoMap").center([
                            parseFloat(thispos[0]),
                            parseFloat(thispos[1])
                           ]);


                cnt++;

                setTimeout(startReplay, parseInt($("#speed").val()) * 1000);
            }

        }

        $(document).ready(function () {

         

            $("#speed").kendoDropDownList();

            var devices = $("#devices").kendoDropDownList({
                dataTextField: "DeviceName",
                dataValueField: "DeviceID",
                dataSource: {
                    transport: {
                        read: {
                            dataType: "json",
                            url: '@Url.Action("DeviceList")'
                        }
                    }
                }
            });

            // create DatePicker from input HTML element
            var datePicker = $("#datepicker").kendoDatePicker({ format: "dd/MM/yyyy" });

            $("#search").click(function () {

                $("#replay").html("Start Replay");
                $("#pause").html("Pause Replay");
                $("#pause").hide();
                replayon = false;

                //alert("clicked");
                createMap();
                updateDS();
            });


            $("#replay").click(function () {

                if (replayon) {
                    $("#replay").html("Start Replay");
                    replayon = false;
                    //alert('stopping replay');

                    $("#pause").hide();

                    createMap();
                    updateDS();
                }
                else {

                    $("#replay").html("Stop Replay");
                    replayon = true;
                    //alert('starting replay');

                    $("#pause").show();
                    $("#pause").html("Pause Replay");

                    cnt = 0;
                    createMapReplay();
                    startReplay();
                }

            });

            $("#pause").click(function () {

                if (replayon) {

                    $("#pause").html("Resume Replay");
                    replayon = false;
                }
                else {
                    $("#pause").html("Pause Replay");
                    replayon = true;
                    startReplay();

                }


            });


            var datePickerVal = $("#datepicker").val();
            var deviceVal = $("#devices").val();

            MapDataSource = new kendo.data.DataSource({
                autoSync: true,
                transport: {
                    read: {
                        dataType: "json",
                        url: '@Url.Action("PosList")' + '?date=' + datePickerVal + '&deviceid=0' + deviceVal
                    }
                },
                schema: {
                    model: { latlng: "latlng", name: "name", speedstr: "speedstr", devicename: "devicename", devicetype: "devicetype" }
                },
                change: function (e) {
                    var pos1;
                    var data = MapDataSource.data();
                    replayData = MapDataSource.data();

                    if (data[0]) {

                        pos1 = data[0].latlng;
                        var startname = data[0].name;
                        var startspeed = data[0].speedstr;

                        $("#replaycount").html('First Location - Time: ' + startname + '<br />Lat/Lng: [' + pos1[0] + ' ' + pos1[1] + ']' + '<br />Speed:' + startspeed + 'km/h');

                        $("#latc").val(parseFloat(pos1[0]).toFixed(4));
                        $("#lngc").val(parseFloat(pos1[1]).toFixed(4));

                        $("#map").data("kendoMap").center([
                            parseFloat($("#latc").val()),
                            parseFloat($("#lngc").val())
                           ]);

                        $("#map").data("kendoMap").zoom(
                        parseInt(14, 10)
                    );

                        $("#replaycontrol").show();


                    }
                    else {
                        $("#replaycontrol").hide();

                    }
                }
            });


            $("#grid").kendoGrid({
                dataSource: MapDataSource,
                height: 400,
                groupable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
                    field: "name",
                    title: "Time",
                    width: 160
                }, {
                    field: "speedstr",
                    title: "Speed (km/h)"
                }, {
                    field: "latlng[0]",
                    title: "Lat"
                }, {
                    field: "latlng[1]",
                    title: "Lng"
                }, {
                    field: "devicename",
                    title: "Name"
                }, {
                    field: "devicetype",
                    title: "Device Type"
                }]
            });


            createMap();

            $("#panelbar").kendoPanelBar({
                expandMode: "multiple"
            });


        });

    </script>
</div>
<style scoped>
    .demo-section
    {
        width: 100%;
    }
    .demo-section h2
    {
        text-transform: uppercase;
        font-size: 1.2em;
        margin-bottom: 10px;
    }
</style>
</div>